* {
  font-family: 'Kanit', sans-serif;
}



header {
  background-color: #aeaeae;
  z-index: 1;
  position: sticky;
  box-shadow: 0 -6px 10px 7px rgba(0,0,0,0.5);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "hc hc nv nv nv nv nv";
}

.nav-menu {
  display: none;
}

@media (min-width: 1024px) {

  
  
}

@media (min-width: 761px) {
  .App {
    display: grid;
    grid-template-rows: 5vh 95vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "hr hr hr hr hr hr" 
                        "bl bl br br br br";
  }
  
}
@media (max-width: 760px) {

  .App {
    display: grid;
    grid-template-rows: 5% 30% 65%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:  "hr hr hr hr hr hr" 
                          "bl bl bl bl bl bl"
                          "br br br br br br";
  }
  
  .navButton {
    display: none;
  }

  .nav-menu {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
  }

  .nav-menu > img {
    max-width: 75%;
  }

  #leftSide {
    grid-area: bl;
    display: flex;
    align-items: start;
    justify-content: center;
    padding:15px;
  }

}


body {
  background-color: white;
  font-weight:400;
}

.headerContrast {
  grid-area: hc;
}

.buttonDiv {
  grid-area: nv;
  background: #0c122b;
  box-shadow: 0 -6px 10px 1px rgba(0,0,0,0.5);
}

.dropdown-list {
  background-color: #0c122b;
}

.dropdown-list > button {
  display: inline;
}

.rounded {
  border-radius: 10px;
}

button {
  background: transparent;
  border: 0;
  padding: 1rem;
  /* height: inherit; */
  font-size: 1.5rem;
  font-weight: bolder;
}

button:hover {
  animation: buttonHov .2s forwards;
}
.link-div:hover {
  animation: buttonHov .2s forwards;
}


.dark {
  color: white;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

#reachout{
  margin:0;
}

.tiny-text{
  font-size:medium;
  margin: 0 0 3rem 0;
}

.pageContent {
  animation: fadeIn 1.2s forwards;
}

.link-box{
  display: flex;
  flex-direction: column;
}

.title {
  color: #520075;
 text-align: left; 
 font-weight: bold;
 font-size: 3rem;
}

@keyframes buttonHov {
  to {
    background-color: #433446;
    color: #80D7F0;
    box-shadow: .1rem 0rem 1.5rem 0rem #161217 inset;
    max-height: 100%;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.pictureday {
  max-width: 300px;
  margin: 30px;
  animation: fadeIn 1.2s forwards;

}

.activated {
  color: #1489aa;
}

.contacticon {
  max-width: 3rem;
  border-radius: 1rem;
  filter: invert(98%) sepia(37%) saturate(2%) hue-rotate(288deg) brightness(110%) contrast(101%);
}

.link {
  display: inline-block;
  color: #ffffff;
  margin: 0;

}

.gold {
  color: #6D6952;
}

.link-div{
  max-width: 250px;
  background-color: #0c122b;
  border-radius: 15px;
  padding: 10px;
}

@keyframes icon-hover {
  to{
    box-shadow: 0 4px 10px 5px rgba(0,0,0,0.5);
  }
}

@keyframes text-hover {
  to{
    text-shadow: 2px 6px 9px rgba(0,0,0,0.4);
  }
}

.link-div:hover > .icon {
  animation: icon-hover .2s forwards
}

.link-div:hover > .text {
  animation: text-hover .2s forwards
}

a {
  display:flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
}

a > p {
  font-size: 2rem;
  padding-left: 15px;
}

ul {
  list-style-type: none;
  height: 15rem;
}

#top {
  grid-area: hr;
}

#rightSide {
  grid-area: br;
  font-size: 2rem;
  text-align: left;
  box-shadow: 0 -6px 10px 1rem rgba(255,255,255,0.5);
  background-color: #F7F7F7;
  padding: 30px;
}